body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Map {
  position: relative;
}

.handle {
  position: absolute;
}
.handle2 {
  position: absolute;
}

.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  float: left;
}

.react-draggable, .cursor {
  cursor: move;
}


svg {
  position: absolute;
}

.boldinoElement {
    opacity: .3;
}

.boldinoElement:hover {
  transition: opacity .2s ease;
  opacity: .7;
}

.DetailedInfoWindow {
  z-index: 999999;
  position: absolute;
  padding: 20px;
  box-sizing: border-box;
  width: 300px;
  height: 100%;
  box-shadow: 0 0 32px 10px #ccc;
}

.imgWrap {
  width: 300px;
  height: 300px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.sightImg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  transform: translate(-50%, -50%);
}

/*
.wrapper {
  display: inline-block;
  height: 6436px;
  width: 4580px;
  padding: 5px;
  margin: 5px;
  background: lightgray;
}

.wrapper img {
  height: 400%;
  width: 400%;
  object-fit: contain;
}
*/


/*
img {
  width:4580px;
  height:6436px;
  
}
*/


